# Node modules
vue-customer-frontend/node_modules/

# Build output
dist/
build/

# Local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Other files
coverage/
*.log
*.lock
